* {
    text-align: center;
  }

  div {
    color: green
  }

  li {
    color: blue

  }

  h1{
    color: green
  }

  form {
    color: orange

  }

input[type="submit"] {
  color: red
}

  button {
    color: orange
  }

  